<template name="network">

    <style>
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

        #network {
            width: 100%;
        }

        #network > svg {
            display: block;
            margin: auto;
            overflow: scroll;
        }

    </style>

    <div id="sliderWrapper">
        <div id="slider"></div>
    </div>

    <div id="network"></div>






</template>