<template name="uploadsearch">
	
	
	<div id='uploadsearch-wrapper' class='container-fluid'>
		<div class='row' id='headerrow'>
			<center>
			<!--<img src='/theprotocol.png'>-->
			<img src='/epicenter.png'>
			</center>
		</div>
		<div class='row' id='uploadsearch-row'>
			<a href='#'>
			<div class='col-md-6' id='leftupload'>
				<center>
					<div>
						<h1><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></h1>
					<h1>Upload</h1>
					</div>
				</center>
			</div>
			</a>
			<a href='{{pathFor 'search'}}'>
			<div class='col-md-6' id='rightupload'>
				<div>
				<center>
					<div>
						<h1><span class="glyphicon glyphicon-search" aria-hidden="true"></span></h1>
						 <!--<img src='/epicenter.jpg' style='width: 40%'>-->
					<h1>Search</h1>
					</div>
				</center>
				</div>
			</div>
			</a>
			
		</div>
	
	</div>
	
	
</template>